/* Reset inspired from https://www.joshwcomeau.com/css/custom-css-reset/. */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	overflow-wrap: break-word;
}

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	height: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

#root {
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 0;
	padding: 1rem;
	width: 100%;
}
